/*----------- body ----------*/
html, body{
  font-family: Arial,"Helvetica Neue",Helvetica, sans-serif;
  height: 100%;
  width:100%;
  background-color:#f5f5f5;
}

/*--------------header------------*/
.navbar{
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

img{
  z-index: 80;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#showcase{
  height: 350px;
  text-align: center;
  background-image:url('../pic/background3.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

#showcase h{
  color:#696969;
  font-size:32px;
  line-height: 1.6em;
  padding-top:30px;
  text-align: center;
}

/*------------ page content ----------*/
.rowstyle{
	margin-left: 13%;
}

.intro-content {
  font-family: Garamond  !important;
	font-size: 18px;
	color: #000;
	text-align: justify;
  margin-top: 3%;
	margin-left: 25%;
	margin-right: 25%;
}

.intro-content h{
  font-size: 30px;
  color: #FF9933;
}


.datasource-content {
  	font-size: 15px;
  	color: #fff;
  	text-align: left;
    margin-top: 3%;
  	margin-left: 15%;
  	margin-right: 15%;
  }

.datasource-content h1{
    font-size: 18px;
  	color: #fff;
  	text-align: left;
    margin-top: 3%;
  	margin-right: 15%;
    margin-left: 0%;
    }

.datasource-content a{
    font-size: 15px;
    color: #FF9933;
    text-align: left;
    margin-top: 3%;
    margin-right: 5%;
      }

/* team member section */
.name{
  background-color: transparent;
	margin-top: 5%;
}

.name img {
  max-width: 350px;
  max-height: 350px;
	z-index: 0;
  background-color: transparent
  }

.text{
  display: table-cell;
  position: relative;
  left: 50px;
}


.text h2 {
 font-size: 20px;
 color: #FF9933 
}

.text h3 {
	font-weight: bold;
  margin-top: 16px;
	font-size: 18px;
  color: rgba(70,70,70, 1)
	}

  .text h4 {
   font-style: italic;
   margin-top: 30%;
   font-size: 15px;
   color: 'black'
  }

  .text h5 {
   font-style: italic;
   margin-top: 17%;
   font-size: 15px;
   color: 'black'
  }


/*------------------Footer----------------------  */
footer {
		background-color: rgba(70,70,70, 1);
		color: #fff;
		padding: 15px;
}

footer a {
		color: #f5f5f5;
}

footer a:hover {
		color: #777;
		text-decoration: none;
}

